#about {
    scroll-margin-top: 70px !important;
}
.about-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 32px;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
  }
  
  .about-side-text {
    max-width: 400px;
    font-size: 1.1rem;
    color: #ffffff;
    cursor: default;
  }

  .about-content {
    margin-bottom: 0.5rem;
  }
  .about-content h1 {
    margin-bottom: 0rem;
    margin-top: 0rem;
  }