.github-pill {
    background: rgba(0, 0, 0, 0); /* semi-transparent gray */
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 1em;      /* pill shape */
    padding: 0.5em 1.5em;
    font-size: 1em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: background 0.2s;
    outline: none;
  }
  
  /* .github-pill:hover {
    background: rgba(80, 80, 80, 0);
  } */

  .contact-icon-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100%;
    z-index: 1;
    margin-top: 50px;
  }
  .contact-text-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 2; 
    color: #fff; 
    margin-top: 10px; 
    /* margin-bottom: 10px; */
    cursor: default;
  }
  .contact-icon-container p {
    font-size: 1.2rem;
    color: #fff;
  }